.select-Img img {
    height: 100%;
    width: 100%;
    /* width: 300px; */
}

.select-Img {
    position: relative;
}

.select-Img .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.select-Img p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}